.footer {
  padding-top: 16rem;
  padding-bottom: 10rem;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96rem;
  }
}

.footer__title {
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3rem;
}

.footer__address {
  width: 55.5rem;
  margin-bottom: 4.2rem;
  font-size: 1.7rem;
  line-height: 3.1rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.footer__map {
  width: 95.7rem;
  height: 53rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.footer__item {
  position: relative;
  flex-shrink: 0;
  margin: 0 2rem;
  margin-bottom: 2.2rem;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }
}

.footer__item--mail {
  padding-left: 4.1rem;

  &::before {
    width: 2.6rem;
    height: 2rem;
    background-image: url("/img/convert.svg");
  }
}

.footer__item--tel {
  padding-left: 3.2rem;

  &::before {
    width: 1.7rem;
    height: 2.4rem;
    background-image: url("/img/telephone.svg");
  }
}

.footer__socials {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1023px) {
  .footer {
    padding-top: 12.5rem;
    padding-bottom: 3rem;

    .container {
      width: 90%;
      margin: 0 auto;
    }
  }

  .footer__title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    line-height: 3rem;
  }

  .footer__address {
    width: auto;
    margin-bottom: 2rem;
  }

  .footer__map {
    min-width: 69.8rem;
    width: auto;
    height: 54.5rem;
    margin: 0 auto;
  }

  .footer__socials {
    margin-top: 2rem;
  }
}

@media (max-width: 766px) {
  .footer {
    padding-top: 10rem;

    .container {
      width: auto;
    }
  }

  .footer__title {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .footer__address {
    width: 90%;
  }

  .footer__map {
    min-width: auto;
    width: 100%;
    height: 25rem;
  }

  .footer__socials {
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    padding: 0 5%;
    margin-top: 3rem;
  }

  .footer__item {
    margin-bottom: 1rem;
  }
}
