.intro {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 82.5rem;
  background-color: #000000;
}

.intro__container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.intro__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1023px) {
  .intro {
    min-height: auto;
    background-color: rgba(0,0,0,0);
  }

  .intro__container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .intro__bg {
    height: 34rem;
  }
}

@media (max-width: 767px) {
  .intro {
    min-height: auto;
  }

  .intro__bg {
    height: 39rem;
  }
}
